#head{
    background-color: lightskyblue;
    height: 50px;
    padding:20px;
    color: tomato;
    font-size:30px;
}
#subhead{
    background-color: black;
    height: 30px;
    font-size: medium;
    padding-top: 5px;
}
a{
    color: white;
    text-decoration: none;
    padding-right: 5px;
    /* border-right: white; */
    border-right: 2px solid white;

}
#pagehead{
    width: 800px;
    float: left;
    height: 600px;
}
#pageside{
    background-color: lightskyblue;
    width: 300px;
    height: 600px;
    float: right;
}
footer{
    background-color: lightskyblue;
    height: 50px;
    clear: both;
    text-align:right;
    padding-right: 100px;
    padding-top: 50px;
}